@model IEnumerable<Dropdownlistmvc.Data.Employee>

@{
    ViewBag.Title = "Employees";
}

<h2>Employees</h2>

<p>
    @Html.ActionLink(" New", "AddEmployee",null, new { @class = "btn btn-primary glyphicon glyphicon-plus" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GenderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genders.GenderName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>        
        <td>
            <img src="@($"data:image/png;base64,{ Convert.ToBase64String(item.Image) } ")"  height="42" width="42" />
        </td>

        <td>
            @Html.ActionLink(" ", "Delete", new { Id = item.Id }, new { @class = "btn btn-danger glyphicon glyphicon-remove" }) |
            @Html.ActionLink(" Edit", "Edit", new { Id = item.Id }, new { @class = "btn btn-primary glyphicon glyphicon-ok" })
        </td>
    </tr>
}

</table>

@section Scripts {
    <script>


        $(document).ready(function () {
            if ('@TempData["message"]' == "Deleted") {
               $.notify("Warning: your record has been deleted successfully", "warn");
            }
            if ('@TempData["message"]' == "Save"){
                $.notify("your record has been Saved successfully", "success");

            }
        });


    </script>
}